@model List<ApplicationUser>

<form asp-action="TakeAttendance" method="post">
    <table class="table bg-white table-hover ">
       
        <thead style="background-color : #003049 " class="text-white">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Attendance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td><img class="rounded-circle" witdth="100px" height="50px" src="/Images/@student.photoUrl" /></td>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>
                        <div class="form-group">

                            <select class="form-select" name="AttendanceStatus" asp-items='Html.GetEnumSelectList<AttendanceStatus>()'>
                                <option value="">--Select--</option>
                            </select>
                            <input type="hidden" asp-for="@student.Id" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class=" form-group text-center">
        <button type="submit" class="btn btn-warning form-control w-50 mt-2 ">Save</button>
    </div>
</form>
