@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> _userManager
@{
    var applicationUser = await _userManager.GetUserAsync(User);
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Etrain</title>
    <link rel="icon" href="/assets/home/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/home/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/home/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/home/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/assets/home/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assets/home/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/home/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/assets/home/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/home/css/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu mb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="/assets/home/img/logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link"  asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#courses">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog">Blog</a>
                                </li>
                                @if(User.Identity.IsAuthenticated==false){
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                }else

                                {
                                    <li class="nav-item nav-profile dropdown border-0 ">
                                        <a class="nav-link dropdown-toggle" id="profileDropdown" data-toggle="dropdown" >
                                            @*<img class="nav-profile-img mr-2" src="/Images/@User.Claims.FirstOrDefault(c=>c.Type=="photoUrl")" />*@
                                                <img class="nav-profile-img mr-2" src="/Images/@applicationUser.photoUrl" />
                                                <span class="profile-name text-dark">@applicationUser.UserName</span>
                                        </a>
                                        <div class="dropdown-menu bg-white navbar-dropdown w-100" aria-labelledby="profileDropdown">

                                            @if (User.Identity.IsAuthenticated == true && User.IsInRole("Student"))
                                            {
                                                <a class="dropdown-item" asp-controller="Student" asp-action="Index">
                                                    <i class="fa-solid fa-user mr-2 text-warning"></i>Profile

                                                </a>
                                                <a class="dropdown-item" asp-controller="Student" asp-action="UpdateProfile">
                                                    <i class="fa-solid fa-user mr-2 text-warning"></i>Update

                                                </a>
                                            }
                                            else if (User.Identity.IsAuthenticated == true && User.IsInRole("Teacher"))
                                            {
                                                <a class="dropdown-item" asp-controller="Teacher" asp-action="Index">
                                                    <i class="fa-solid fa-user mr-2 text-warning"></i>Profile

                                                </a>
                                                <a class="dropdown-item" asp-controller="Teacher" asp-action="UpdateTeacher">
                                                    <i class="fa-solid fa-user mr-2 text-warning"></i>Update

                                                </a>

                                            }
                                            else if (User.Identity.IsAuthenticated == true && User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item" asp-controller="Teacher" asp-action="StudentsReports">
                                                    <i class="fa-solid fa-user mr-2 text-warning"></i>Profile

                                                </a>
                                            }
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                                <i class="mdi mdi-logout mr-2 text-warning"></i> Signout
                                            </a>
                                        </div>

                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!-- banner part start-->
@RenderBody()
    <!--::blog_part end::-->
    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="/assets/home/img/logo.png" alt=""> </a>
                        <p>
                            But when shot real her. Chamber her one visite removal six
                            sending himself boys scot exquisite existend an
                        </p>
                        <p>But when shot real her hamber her </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Newsletter</h4>
                        <p>
                            Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter email address'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Enter email address'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Hath of it fly signs bear be one blessed after </p>
                            <p><span> Phone :</span> +2 36 265 (8060)</p>
                            <p><span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright_part_text text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="footer-text m-0">
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer part end-->
    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/assets/home/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/assets/home/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/assets/home/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/assets/home/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/assets/home/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/assets/home/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/assets/home/js/owl.carousel.min.js"></script>
    <script src="/assets/home/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/assets/home/js/slick.min.js"></script>
    <script src="/assets/home/js/jquery.counterup.min.js"></script>
    <script src="/assets/home/js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/assets/home/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
