@model SchoolSystem.ViewModels.UpdatePasswordViewModel

@{
    ViewData["Title"] = "UpdatePassword";
}

<h1>Change Password</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6 p-5 bg-white mt-5">
        <form asp-action="UpdatePassword">
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning rounded" />
            </div>
            <div>
                <a asp-action="UpdateProfile" class="text-warning text-decoration-none"><i class="fa-solid fa-arrow-left-long ms-1"></i> Back </a>
            </div>
        </form>
    </div>
</div>

