@model SchoolSystem.ViewModels.StudentProfileViewModel

@{
    ViewData["Title"] = "UpdateProfile";
}

<h1>Update Profile</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-8 bg-white p-5">
        <form asp-action="UpdateProfile" enctype="multipart/form-data" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <img id="img" class="rounded-circle" src="/Images/@Model.Filename"/>
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

           @* <div class="form-group">
                <label>File upload</label>
                <input type="file"  class="file-upload-default" asp-for="Photo" id="DefaultFile">
                <div class="input-group col-xs-12">
                    <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                    <span class="input-group-append">
                        <button class="file-upload-browse btn btn-primary" type="button"> Upload </button>
                    </span>
                </div>
            </div>
*@

            <div class="form-group">

                <input class="form-control " type="file" id="DefaultFile" asp-for="Photo"placeholder="Upload Image">
            </div>
            <div class="form-group">
                <a asp-action="UpdatePassword" class="text-warning text-decoration-none " >Change Password</a>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-warning rounded form-control w-50 fs-12" />
            </div>
            
        </form>
    </div>
</div>


